<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EnCodeFilter</filter-name>
		<filter-class>filter.EnCodeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EnCodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/pages/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>AddClassesServlet</servlet-name>
		<servlet-class>classes.servlet.AddClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddClassesServlet</servlet-name>
		<url-pattern>/AddClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlanAddClassesServlet</servlet-name>
		<servlet-class>classes.servlet.PlanAddClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanAddClassesServlet</servlet-name>
		<url-pattern>/PlanAddClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditClassesServlet</servlet-name>
		<servlet-class>classes.servlet.EditClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditClassesServlet</servlet-name>
		<url-pattern>/EditClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateClassesServlet</servlet-name>
		<servlet-class>classes.servlet.UpdateClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateClassesServlet</servlet-name>
		<url-pattern>/UpdateClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteClassesServlet</servlet-name>
		<servlet-class>classes.servlet.DeleteClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteClassesServlet</servlet-name>
		<url-pattern>/DeleteClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetClassesCountPageServlet</servlet-name>
		<servlet-class>classes.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetClassesCountPageServlet</servlet-name>
		<url-pattern>/GetClassesCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchClassesServlet</servlet-name>
		<servlet-class>classes.servlet.SearchClassesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchClassesServlet</servlet-name>
		<url-pattern>/SearchClassesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCla2SubServlet</servlet-name>
		<servlet-class>cla2sub.servlet.AddCla2SubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCla2SubServlet</servlet-name>
		<url-pattern>/AddCla2SubServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCla2SubServlet</servlet-name>
		<servlet-class>cla2sub.servlet.DeleteCla2SubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCla2SubServlet</servlet-name>
		<url-pattern>/DeleteCla2SubServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearcCla2SubServlet</servlet-name>
		<servlet-class>cla2sub.servlet.SearcCla2SubServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearcCla2SubServlet</servlet-name>
		<url-pattern>/SearcCla2SubServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlanAddCla2SubSevlet</servlet-name>
		<servlet-class>cla2sub.servlet.PlanAddCla2SubSevlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanAddCla2SubSevlet</servlet-name>
		<url-pattern>/PlanAddCla2SubSevlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetCla2SubCountPageServlet</servlet-name>
		<servlet-class>cla2sub.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCla2SubCountPageServlet</servlet-name>
		<url-pattern>/GetCla2SubCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchCla2Sub_exServlet</servlet-name>
		<servlet-class>cla2sub.servlet.SearchCla2Sub_exServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchCla2Sub_exServlet</servlet-name>
		<url-pattern>/SearchCla2Sub_exServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExportCal_subServlet</servlet-name>
		<servlet-class>cla2sub.servlet.ExportCal_subServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportCal_subServlet</servlet-name>
		<url-pattern>/ExportCal_subServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>login.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddMajorServlet</servlet-name>
		<servlet-class>major.servlet.AddMajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMajorServlet</servlet-name>
		<url-pattern>/AddMajorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteMajorServlet</servlet-name>
		<servlet-class>major.servlet.DeleteMajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteMajorServlet</servlet-name>
		<url-pattern>/DeleteMajorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditMajorServlet</servlet-name>
		<servlet-class>major.servlet.EditMajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditMajorServlet</servlet-name>
		<url-pattern>/EditMajorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateMajorServlet</servlet-name>
		<servlet-class>major.servlet.UpdateMajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMajorServlet</servlet-name>
		<url-pattern>/UpdateMajorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchMajorServlet</servlet-name>
		<servlet-class>major.servlet.SearchMajorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchMajorServlet</servlet-name>
		<url-pattern>/SearchMajorServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetMajorCountPageServlet</servlet-name>
		<servlet-class>major.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMajorCountPageServlet</servlet-name>
		<url-pattern>/GetMajorCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditScoreServlet</servlet-name>
		<servlet-class>score.servlet.EditScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditScoreServlet</servlet-name>
		<url-pattern>/EditScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateScoreServlet</servlet-name>
		<servlet-class>score.servlet.UpdateScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateScoreServlet</servlet-name>
		<url-pattern>/UpdateScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchScoreServlet</servlet-name>
		<servlet-class>score.servlet.SearchScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchScoreServlet</servlet-name>
		<url-pattern>/SearchScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetScoreCountPageServlet</servlet-name>
		<servlet-class>score.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetScoreCountPageServlet</servlet-name>
		<url-pattern>/GetScoreCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReportScoreServlet</servlet-name>
		<servlet-class>score.servlet.ReportScoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportScoreServlet</servlet-name>
		<url-pattern>/ReportScoreServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddStudentServlet</servlet-name>
		<servlet-class>student.servlet.AddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddStudentServlet</servlet-name>
		<url-pattern>/AddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<servlet-class>student.servlet.DeleteStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteStudentServlet</servlet-name>
		<url-pattern>/DeleteStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditStudentServlet</servlet-name>
		<servlet-class>student.servlet.EditStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditStudentServlet</servlet-name>
		<url-pattern>/EditStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<servlet-class>student.servlet.UpdateStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStudentServlet</servlet-name>
		<url-pattern>/UpateStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchStudentServlet</servlet-name>
		<servlet-class>student.servlet.SearchStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchStudentServlet</servlet-name>
		<url-pattern>/SearchStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetStudentCountPageServlet</servlet-name>
		<servlet-class>student.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetStudentCountPageServlet</servlet-name>
		<url-pattern>/GetStudentCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InfoStudentServlet</servlet-name>
		<servlet-class>student.servlet.InfoStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoStudentServlet</servlet-name>
		<url-pattern>/InfoStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchClassmatesServlet</servlet-name>
		<servlet-class>student.servlet.SearchClassmatesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchClassmatesServlet</servlet-name>
		<url-pattern>/SearchClassmatesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchTeacherClassServlet</servlet-name>
		<servlet-class>student.servlet.SearchTeacherClassServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchTeacherClassServlet</servlet-name>
		<url-pattern>/SearchTeacherClassServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PlanAddStudentServlet</servlet-name>
		<servlet-class>student.servlet.PlanAddStudentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PlanAddStudentServlet</servlet-name>
		<url-pattern>/PlanAddStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSubjectServlet</servlet-name>
		<servlet-class>subject.servlet.AddSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSubjectServlet</servlet-name>
		<url-pattern>/AddSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<servlet-class>subject.servlet.DeleteSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteSubjectServlet</servlet-name>
		<url-pattern>/DeleteSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditSubjectServlet</servlet-name>
		<servlet-class>subject.servlet.EditSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditSubjectServlet</servlet-name>
		<url-pattern>/EditSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateSubjectServlet</servlet-name>
		<servlet-class>subject.servlet.UpdateSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateSubjectServlet</servlet-name>
		<url-pattern>/UpdateSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchSubjectServlet</servlet-name>
		<servlet-class>subject.servlet.SearchSubjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchSubjectServlet</servlet-name>
		<url-pattern>/SearchSubjectServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSubjectCountPageServlet</servlet-name>
		<servlet-class>subject.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSubjectCountPageServlet</servlet-name>
		<url-pattern>/GetSubjectCountPageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.AddTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTeacherServlet</servlet-name>
		<url-pattern>/AddTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.DeleteTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTeacherServlet</servlet-name>
		<url-pattern>/DeleteTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.UpdateTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateTeacherServlet</servlet-name>
		<url-pattern>/UpdateTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.SearchTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchTeacherServlet</servlet-name>
		<url-pattern>/SearchTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InfoTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.InfoTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InfoTeacherServlet</servlet-name>
		<url-pattern>/InfoTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditTeacherServlet</servlet-name>
		<servlet-class>teacher.servlet.EditTeacherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTeacherServlet</servlet-name>
		<url-pattern>/EditTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetTeacherCountPageServlet</servlet-name>
		<servlet-class>teacher.servlet.GetCountPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTeacherCountPageServlet</servlet-name>
		<url-pattern>/GetTeacherCountPageServlet</url-pattern>
	</servlet-mapping>
</web-app>