@charset "utf-8";
* {
	padding: 0;
	margin: 0;
}
.main {
	width: 700px;
	margin: auto;
	padding-top: 30px;
}
.s1 {
	color: #999;
	font-family: "黑体";
	font-size: 36px;
}
.s2 {
	width: 100%;
	height: 30px;
	padding-left: 20px;
}
.s3 {
	margin-top: -16px;
	margin-left: 20px;
}
