<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svse.dao.GroupDAOI">
	<!-- 添加 -->
	<insert id="add" parameterType="GroupEntity">
		insert into t_group values(null,#{groupname},#{groupinfo})
	</insert>
	<!-- 修改 -->
	<update id="upp" parameterType="GroupEntity">
		update t_group set groupname=#{groupname},groupinfo=#{groupinfo} where groupid=#{groupid} 
	</update>
	<!-- 全查询 -->
	<select id="all"  resultType="GroupEntity">
      	select * from t_group
	</select>
	<select id="allgroup"  resultType="GroupEntity">
      	select * from t_group limit #{0},#{1}
	</select>
	
	<!-- 查询单个 -->
	<select id="one" parameterType="int" resultType="GroupEntity">
		select * from t_group where groupid=#{groupid}
	</select>
	
	<!-- 判断重复 -->
	<select id="repeat" parameterType="GroupEntity" resultType="int">
		select count(*) from t_group where groupname=#{groupname} 
	</select>

	<!-- 所有记录 -->
	<select id="count" resultType="int">
		select count(*) from t_group
	</select>
</mapper>