<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.svse.dao.StorehouseDAOI">
	<!-- 添加 -->
	<insert id="add" parameterType="StorehouseEntity">
		insert into t_storehouse values(null,#{storename},#{storeflag})
	</insert>
	<!-- 修改 -->
	<update id="upp" parameterType="StorehouseEntity">
		update t_storehouse set storename=#{storename},storeflag=#{storeflag} where storeid=#{storeid} 
	</update>
	<!-- 全查询 -->
	<select id="all"  resultType="StorehouseEntity">
      	select * from t_storehouse 
	</select>
	<select id="allstore"  resultType="StorehouseEntity">
      	select * from t_storehouse limit #{0},#{1}
	</select>
	
	<!-- 查询单个 -->
	<select id="one" parameterType="int" resultType="StorehouseEntity">
		select * from t_storehouse where storeid=#{storeid}
	</select>
	
	<!-- 判断重复 -->
	<select id="repeat" parameterType="StorehouseEntity" resultType="int">
		select count(*) from t_storehouse where storename=#{storename} 
	</select>
	
	<!-- 所有记录 -->
	<select id="count" resultType="int">
		select count(*) from t_storehouse
	</select>
</mapper>