<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>school</display-name>
<!-- 公共部分 登录模块 -->
	<servlet>
		<description></description>
		<display-name>CcheckUserServlet</display-name>
		<servlet-name>CcheckUserServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.CcheckUserServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CcheckUserServlet</servlet-name>
		<url-pattern>/CcheckUserServlet</url-pattern>
	</servlet-mapping>
<!-- Tim部分 sevlet详细信息 考试模块 -->
	<servlet>
		<description></description>
		<display-name>Cexam_addtestServlet</display-name>
		<servlet-name>Cexam_addtestServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_addtestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_uploadTestServlet</display-name>
		<servlet-name>Cexam_uploadTestServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_addtest2Servlet</display-name>
		<servlet-name>Cexam_addtest2Servlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_addtest2Servlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_uploadTest2Servlet</display-name>
		<servlet-name>Cexam_uploadTest2Servlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadTest2Servlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_updateOrDeleteTestServlet</display-name>
		<servlet-name>Cexam_updateOrDeleteTestServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_updateOrDeleteTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_uploadOrDeleteTestServlet</display-name>
		<servlet-name>Cexam_uploadOrDeleteTestServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadOrDeleteTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_newPageUpdateChoose1</display-name>
		<servlet-name>Cexam_newPageUpdateChoose1</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_newPageUpdateChoose1
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_newPageUpdateChoose2</display-name>
		<servlet-name>Cexam_newPageUpdateChoose2</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_newPageUpdateChoose2
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_newPageUpdateText</display-name>
		<servlet-name>Cexam_newPageUpdateText</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_newPageUpdateText
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_testExamServlet</display-name>
		<servlet-name>Cexam_testExamServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_testExamServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CflushChoose1Page</display-name>
		<servlet-name>CflushChoose1Page</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.CflushChoose1Page
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			CflushExam_updateOrDeleteTestServlet
		</display-name>
		<servlet-name>
			CflushExam_updateOrDeleteTestServlet
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.CflushExam_updateOrDeleteTestServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_uploadOrDeleteCompulsoryChooseServlet
		</display-name>
		<servlet-name>
			Cexam_uploadOrDeleteCompulsoryChooseServlet
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadOrDeleteCompulsoryChooseServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_uploadOrDeleteElectiveChooseServlet
		</display-name>
		<servlet-name>
			Cexam_uploadOrDeleteElectiveChooseServlet
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadOrDeleteElectiveChooseServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_uploadOrDeleteCompulsoryTextServlet
		</display-name>
		<servlet-name>
			Cexam_uploadOrDeleteCompulsoryTextServlet
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadOrDeleteCompulsoryTextServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_uploadOrDeleteElectiveTextServlet
		</display-name>
		<servlet-name>
			Cexam_uploadOrDeleteElectiveTextServlet
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.teacher.Cexam_uploadOrDeleteElectiveTextServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_getStudentCourseTocompulsoryPage
		</display-name>
		<servlet-name>
			Cexam_getStudentCourseTocompulsoryPage
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_getStudentCourseTocompulsoryPage
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_getCompulsoryPaperToCompulsoryTestPage
		</display-name>
		<servlet-name>
			Cexam_getCompulsoryPaperToCompulsoryTestPage
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_getCompulsoryPaperToCompulsoryTestPage
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_giveCompulsoryScore</display-name>
		<servlet-name>Cexam_giveCompulsoryScore</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_giveCompulsoryScore
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>CcheckUserServlet2</display-name>
		<servlet-name>CcheckUserServlet2</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.CcheckUserServlet2
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Clogout</display-name>
		<servlet-name>Clogout</servlet-name>
		<servlet-class>com.sevenEleven.servlet.Clogout</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ClogoutServlet</display-name>
		<servlet-name>ClogoutServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.ClogoutServlet
		</servlet-class>
	</servlet>

	<servlet>
		<description></description>
		<display-name>
			Cexam_getStudentCourseToElectivePage
		</display-name>
		<servlet-name>
			Cexam_getStudentCourseToElectivePage
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_getStudentCourseToElectivePage
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>
			Cexam_getElectivePaperToElectiveTestPage
		</display-name>
		<servlet-name>
			Cexam_getElectivePaperToElectiveTestPage
		</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_getElectivePaperToElectiveTestPage
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Cexam_giveElectiveScore</display-name>
		<servlet-name>Cexam_giveElectiveScore</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.student.Cexam_giveElectiveScore
		</servlet-class>
	</servlet>
	<!-- BOB部分 servlet信息 教学管理员模块-->
	<servlet>
		<description></description>
		<display-name>ShowAllListServlet</display-name>
		<servlet-name>ShowAllListServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.ShowAllListServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ChangeStudentServlet</display-name>
		<servlet-name>ChangeStudentServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.ChangeStudentServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RegisterTurnServlet</display-name>
		<servlet-name>RegisterTurnServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.RegisterTurnServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>StudRegisterServlet</display-name>
		<servlet-name>StudRegisterServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.StudRegisterServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ChangeTurnServlet</display-name>
		<servlet-name>ChangeTurnServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.ChangeTurnServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>StuUpdateServlet</display-name>
		<servlet-name>StuUpdateServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.StuUpdateServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DelTurnServlet</display-name>
		<servlet-name>DelTurnServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.DelTurnServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DelStudentServlet</display-name>
		<servlet-name>DelStudentServlet</servlet-name>
		<servlet-class>
			com.sevenEleven.servlet.admin2.DelStudentServlet
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TeaRegisterServlet</display-name>
		<servlet-name>TeaRegisterServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.TeaRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ClassRegisterServlet</display-name>
		<servlet-name>ClassRegisterServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ClassRegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Lesson1RegisterServlet</display-name>
		<servlet-name>Lesson1RegisterServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.Lesson1RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Lesson2RegisterServlet</display-name>
		<servlet-name>Lesson2RegisterServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.Lesson2RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeTeacherServlet</display-name>
		<servlet-name>ChangeTeacherServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ChangeTeacherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TeaUpdateServlet</display-name>
		<servlet-name>TeaUpdateServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.TeaUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeClassServlet</display-name>
		<servlet-name>ChangeClassServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ChangeClassServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ClassUpdateServlet</display-name>
		<servlet-name>ClassUpdateServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ClassUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeLesson1Servlet</display-name>
		<servlet-name>ChangeLesson1Servlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ChangeLesson1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeLesson2Servlet</display-name>
		<servlet-name>ChangeLesson2Servlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ChangeLesson2Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Lesson1UpdateServlet</display-name>
		<servlet-name>Lesson1UpdateServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.Lesson1UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Lesson2UpdateServlet</display-name>
		<servlet-name>Lesson2UpdateServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.Lesson2UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelTeacherServlet</display-name>
		<servlet-name>DelTeacherServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.DelTeacherServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelClassServlet</display-name>
		<servlet-name>DelClassServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.DelClassServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelLesson1Servlet</display-name>
		<servlet-name>DelLesson1Servlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.DelLesson1Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelLesson2Servlet</display-name>
		<servlet-name>DelLesson2Servlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.DelLesson2Servlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SchemeTurnServlet</display-name>
		<servlet-name>SchemeTurnServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.SchemeTurnServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DaySchemeMaker</display-name>
		<servlet-name>DaySchemeMaker</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.DaySchemeMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WeekSchemeMaker</display-name>
		<servlet-name>WeekSchemeMaker</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.WeekSchemeMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ChangeLesson1listServlet</display-name>
		<servlet-name>ChangeLesson1listServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.ChangeLesson1listServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SchemeUpdateServlet</display-name>
		<servlet-name>SchemeUpdateServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.SchemeUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OneSchemeMaker</display-name>
		<servlet-name>OneSchemeMaker</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.OneSchemeMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		OneLesson2ListSchemeMaker</display-name>
		<servlet-name>OneLesson2ListSchemeMaker</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.OneLesson2ListSchemeMaker</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Lesson2WeekSchemeMaker</display-name>
		<servlet-name>Lesson2WeekSchemeMaker</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.Lesson2WeekSchemeMaker</servlet-class>
	</servlet>
<!--Rock servlet声明 教师模块 -->
	<servlet>
		<description>
		</description>
		<display-name>
		UpdateTeacherInfo</display-name>
		<servlet-name>UpdateTeacherInfo</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.teacher.UpdateTeacherInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StuResult</display-name>
		<servlet-name>StuResult</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.teacher.StuResult</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelStuFromClass</display-name>
		<servlet-name>DelStuFromClass</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.teacher.DelStuFromClass</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AddNorScore</display-name>
		<servlet-name>AddNorScore</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.teacher.AddNorScore</servlet-class>
	</servlet>
	
<!--Grubby servlet详细信息 学生模块 -->

	<servlet>
		<description>
		</description>
		<display-name>
		Update</display-name>
		<servlet-name>Update</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CourseTable</display-name>
		<servlet-name>CourseTable</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.CourseTable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		L2CourseTable</display-name>
		<servlet-name>L2CourseTable</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.L2CourseTable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Result</display-name>
		<servlet-name>Result</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.Result</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TiJiaoL2CourseTable</display-name>
		<servlet-name>TiJiaoL2CourseTable</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.TiJiaoL2CourseTable</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		PersonalL2Info</display-name>
		<servlet-name>PersonalL2Info</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.PersonalL2Info</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Result2</display-name>
		<servlet-name>Result2</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.Result2</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Cstudent_showInfoServlet</display-name>
		<servlet-name>Cstudent_showInfoServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.Cstudent_showInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		Cstudent_updateInfoServlet</display-name>
		<servlet-name>Cstudent_updateInfoServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.student.Cstudent_updateInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_printCheckedClassAndPhase</display-name>
		<servlet-name>CautoMakeScheme_printCheckedClassAndPhase</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_printCheckedClassAndPhase</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_getLesson1AndTeacherInfo</display-name>
		<servlet-name>CautoMakeScheme_getLesson1AndTeacherInfo</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_getLesson1AndTeacherInfo</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_selectTeacherServlet</display-name>
		<servlet-name>CautoMakeScheme_selectTeacherServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_selectTeacherServlet</servlet-class>
	</servlet>	
<!--June servlet详细信息 系统管理员模块 -->	
	<servlet>
		<description>
		</description>
		<display-name>
		AddServlet</display-name>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ShowServlet</display-name>
		<servlet-name>ShowServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.ShowServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ModifyServlet</display-name>
		<servlet-name>ModifyServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.ModifyServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DeleteServlet</display-name>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		UpdataServlet</display-name>
		<servlet-name>UpdataServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.UpdataServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DelshowServlet</display-name>
		<servlet-name>DelshowServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.DelshowServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ModshowServlet</display-name>
		<servlet-name>ModshowServlet</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin1.ModshowServlet</servlet-class>
	</servlet>
	
<!--Tim 自动排课 文件夹: admin_teach -->
<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_getAllClasses</display-name>
		<servlet-name>CautoMakeScheme_getAllClasses</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_getAllClasses</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_getCalssAndPhaseTosession</display-name>
		<servlet-name>CautoMakeScheme_getCalssAndPhaseTosession</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_getCalssAndPhaseTosession</servlet-class>
	</servlet>
<servlet>
		<description>
		</description>
		<display-name>
		CautoMakeScheme_deleteClassAndTeacherForClasses</display-name>
		<servlet-name>CautoMakeScheme_deleteClassAndTeacherForClasses</servlet-name>
		<servlet-class>
		com.sevenEleven.servlet.admin2.CautoMakeScheme_deleteClassAndTeacherForClasses</servlet-class>
	</servlet>
<!--过滤器1 公共部分 字符串的过滤 -->
	<filter>
		<filter-name>TraceFilter</filter-name>
		<filter-class>com.sevenEleven.servlet.TraceFilter</filter-class>
	</filter>
<!--过滤器2 公共部分 登录安全性  过滤学生非法登录-->
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.sevenEleven.servlet.LoginFilter</filter-class>
	</filter>
	<!-- 监听器1 公共部分 得到当前在线人数 -->
	<listener>
		<listener-class>
			com.sevenEleven.servlet.OnlineCounterListener
		</listener-class>
	</listener>
<!-- Tim部分 servlet映射 在线考试 -->
	<servlet-mapping>
		<servlet-name>Cexam_addtestServlet</servlet-name>
		<url-pattern>/teacher/Cexam_addtestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadTestServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_addtest2Servlet</servlet-name>
		<url-pattern>/teacher/Cexam_addtest2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadTest2Servlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadTest2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_updateOrDeleteTestServlet</servlet-name>
		<url-pattern>/teacher/Cexam_updateOrDeleteTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadOrDeleteTestServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadOrDeleteTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_newPageUpdateChoose1</servlet-name>
		<url-pattern>/teacher/Cexam_newPageUpdateChoose1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_newPageUpdateChoose2</servlet-name>
		<url-pattern>/teacher/Cexam_newPageUpdateChoose2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_newPageUpdateText</servlet-name>
		<url-pattern>/teacher/Cexam_newPageUpdateText</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_testExamServlet</servlet-name>
		<url-pattern>/student/Cexam_testExamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CflushChoose1Page</servlet-name>
		<url-pattern>/teacher/CflushChoose1Page</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CflushExam_updateOrDeleteTestServlet</servlet-name>
		<url-pattern>/teacher/CflushExam_updateOrDeleteTestServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadOrDeleteCompulsoryChooseServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadOrDeleteCompulsoryChooseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadOrDeleteElectiveChooseServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadOrDeleteElectiveChooseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadOrDeleteCompulsoryTextServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadOrDeleteCompulsoryTextServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_uploadOrDeleteElectiveTextServlet</servlet-name>
		<url-pattern>/teacher/Cexam_uploadOrDeleteElectiveTextServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_getStudentCourseTocompulsoryPage</servlet-name>
		<url-pattern>/student/Cexam_getStudentCourseTocompulsoryPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_getCompulsoryPaperToCompulsoryTestPage</servlet-name>
		<url-pattern>/student/Cexam_getCompulsoryPaperToCompulsoryTestPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_giveCompulsoryScore</servlet-name>
		<url-pattern>/student/Cexam_giveCompulsoryScore</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClogoutServlet</servlet-name>
		<url-pattern>/ClogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_getStudentCourseToElectivePage</servlet-name>
		<url-pattern>/student/Cexam_getStudentCourseToElectivePage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_getElectivePaperToElectiveTestPage</servlet-name>
		<url-pattern>/student/Cexam_getElectivePaperToElectiveTestPage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cexam_giveElectiveScore</servlet-name>
		<url-pattern>/student/Cexam_giveElectiveScore</url-pattern>
	</servlet-mapping>
	<!-- BOB部分 servlet映射 教学管理员模块-->
	<servlet-mapping>
		<servlet-name>ShowAllListServlet</servlet-name>
		<url-pattern>/admin_teach/ShowAllListServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeStudentServlet</servlet-name>
		<url-pattern>/admin_teach/ChangeStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterTurnServlet</servlet-name>
		<url-pattern>/admin_teach/RegisterTurnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudRegisterServlet</servlet-name>
		<url-pattern>/admin_teach/StudRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeTurnServlet</servlet-name>
		<url-pattern>/admin_teach/ChangeTurnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuUpdateServlet</servlet-name>
		<url-pattern>/admin_teach/StuUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelTurnServlet</servlet-name>
		<url-pattern>/admin_teach/DelTurnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelStudentServlet</servlet-name>
		<url-pattern>/admin_teach/DelStudentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeaRegisterServlet</servlet-name>
		<url-pattern>/admin_teach/TeaRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassRegisterServlet</servlet-name>
		<url-pattern>/admin_teach/ClassRegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lesson1RegisterServlet</servlet-name>
		<url-pattern>/admin_teach/Lesson1RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lesson2RegisterServlet</servlet-name>
		<url-pattern>/admin_teach/Lesson2RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeTeacherServlet</servlet-name>
		<url-pattern>/admin_teach/ChangeTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeaUpdateServlet</servlet-name>
		<url-pattern>/admin_teach/TeaUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeClassServlet</servlet-name>
		<url-pattern>/admin_teach/ChangeClassServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClassUpdateServlet</servlet-name>
		<url-pattern>/admin_teach/ClassUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLesson1Servlet</servlet-name>
		<url-pattern>/admin_teach/ChangeLesson1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLesson2Servlet</servlet-name>
		<url-pattern>/admin_teach/ChangeLesson2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lesson1UpdateServlet</servlet-name>
		<url-pattern>/admin_teach/Lesson1UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lesson2UpdateServlet</servlet-name>
		<url-pattern>/admin_teach/Lesson2UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelTeacherServlet</servlet-name>
		<url-pattern>/admin_teach/DelTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelClassServlet</servlet-name>
		<url-pattern>/admin_teach/DelClassServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelLesson1Servlet</servlet-name>
		<url-pattern>/admin_teach/DelLesson1Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelLesson2Servlet</servlet-name>
		<url-pattern>/admin_teach/DelLesson2Servlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemeTurnServlet</servlet-name>
		<url-pattern>/admin_teach/SchemeTurnServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DaySchemeMaker</servlet-name>
		<url-pattern>/admin_teach/DaySchemeMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeekSchemeMaker</servlet-name>
		<url-pattern>/admin_teach/WeekSchemeMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangeLesson1listServlet</servlet-name>
		<url-pattern>/admin_teach/ChangeLesson1listServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchemeUpdateServlet</servlet-name>
		<url-pattern>/admin_teach/SchemeUpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneSchemeMaker</servlet-name>
		<url-pattern>/admin_teach/OneSchemeMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OneLesson2ListSchemeMaker</servlet-name>
		<url-pattern>/admin_teach/OneLesson2ListSchemeMaker</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Lesson2WeekSchemeMaker</servlet-name>
		<url-pattern>/admin_teach/Lesson2WeekSchemeMaker</url-pattern>
	</servlet-mapping>
	<!--Rory sevlet映射 教师模块 -->
	<servlet-mapping>
		<servlet-name>UpdateTeacherInfo</servlet-name>
		<url-pattern>/teacher/UpdateTeacherInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StuResult</servlet-name>
		<url-pattern>/teacher/StuResult</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelStuFromClass</servlet-name>
		<url-pattern>/teacher/DelStuFromClass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNorScore</servlet-name>
		<url-pattern>/teacher/AddNorScore</url-pattern>
	</servlet-mapping>
<!--Grubby servlet映射  学生模块 -->	

	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/student/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CourseTable</servlet-name>
		<url-pattern>/student/CourseTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>L2CourseTable</servlet-name>
		<url-pattern>/student/L2CourseTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/student/Result</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TiJiaoL2CourseTable</servlet-name>
		<url-pattern>/student/TiJiaoL2CourseTable</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PersonalL2Info</servlet-name>
		<url-pattern>/student/PersonalL2Info</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Result2</servlet-name>
		<url-pattern>/student/Result2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cstudent_showInfoServlet</servlet-name>
		<url-pattern>/student/Cstudent_showInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Cstudent_updateInfoServlet</servlet-name>
		<url-pattern>/student/Cstudent_updateInfoServlet</url-pattern>
	</servlet-mapping>
<!-- June servlet映射 系统管理员模块 -->	
<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/admin_systerm/AddServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowServlet</servlet-name>
		<url-pattern>/admin_systerm/ShowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyServlet</servlet-name>
		<url-pattern>/admin_systerm/ModifyServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/admin_systerm/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdataServlet</servlet-name>
		<url-pattern>/admin_systerm/UpdataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelshowServlet</servlet-name>
		<url-pattern>/admin_systerm/DelshowServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModshowServlet</servlet-name>
		<url-pattern>/admin_systerm/ModshowServlet</url-pattern>
	</servlet-mapping>	
	<!-- Tim 自动排课部分 -->
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_printCheckedClassAndPhase</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_printCheckedClassAndPhase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_getLesson1AndTeacherInfo</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_getLesson1AndTeacherInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_selectTeacherServlet</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_selectTeacherServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_getAllClasses</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_getAllClasses</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_getCalssAndPhaseTosession</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_getCalssAndPhaseTosession</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CautoMakeScheme_deleteClassAndTeacherForClasses</servlet-name>
		<url-pattern>/admin_teach/CautoMakeScheme_deleteClassAndTeacherForClasses</url-pattern>
	</servlet-mapping>
	
<!--过滤器1 公共部分 字符串的过滤 -->
	<filter-mapping>
		<filter-name>TraceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--过滤器2 公共部分 登录安全性  过滤学生非法登录-->
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/student/*</url-pattern>
	</filter-mapping>



<!--jstl语言的声明-->
	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/c.tld</taglib-location>
		</taglib>
	</jsp-config>
<!--  欢迎页面  -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
