A:link {
	COLOR: #b58629
}
A:visited {
	COLOR: #b58629
}
A:active {
	COLOR: #b58629
}
A:hover {
	COLOR: #b58629
}
BODY {
	SCROLLBAR-FACE-COLOR: #e7e3e7; FONT-SIZE: 9pt; SCROLLBAR-HIGHLIGHT-COLOR: #6b7994; SCROLLBAR-SHADOW-COLOR: #6b7994; SCROLLBAR-3DLIGHT-COLOR: #e7e3e7; SCROLLBAR-ARROW-COLOR: #6b7994; SCROLLBAR-TRACK-COLOR: #e7e3e7; FONT-FAMILY: "宋体"; SCROLLBAR-DARKSHADOW-COLOR: #e7e3e7
}
TD {
	FONT-SIZE: 9pt; COLOR: #000000
}
.fullTable {
	BORDER-RIGHT: 0px; BORDER-TOP: #189ade 1px solid; BORDER-LEFT: #189ade 1px solid; WIDTH: 95%; BORDER-BOTTOM: 0px
}
TABLE.fullTable TD {
	BORDER-RIGHT: #189ade 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #189ade 1px solid; TEXT-ALIGN: left
}
.mainTable {
	BORDER-RIGHT: 0px; BORDER-TOP: #189ade 1px solid; BORDER-LEFT: #189ade 1px solid; WIDTH: 80%; BORDER-BOTTOM: 0px
}
TABLE.mainTable TD {
	BORDER-RIGHT: #189ade 1px solid; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: #189ade 1px solid; TEXT-ALIGN: left
}
.emptyTable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 80%; BORDER-BOTTOM: 0px
}
TABLE.emptyTable TD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.table4 {
	BORDER-RIGHT: 0px; BORDER-TOP: rgb(255,255,255) 1px groove; BORDER-LEFT: rgb(255,255,255) 1px groove; WIDTH: 20%; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; align: center
}
TABLE.table4 TD {
	BORDER-RIGHT: rgb(0,0,0) 1px groove; PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; BORDER-BOTTOM: rgb(0,0,0) 1px groove
}
.table2 {
	BORDER-RIGHT: rgb(0,0,0) 1px groove; BORDER-TOP: rgb(0,0,0) 1px groove; BORDER-LEFT: rgb(0,0,0) 1px groove; WIDTH: 80%; BORDER-BOTTOM: rgb(0,0,0) 1px groove; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; align: center
}
TABLE.table2 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
.table3 {
	BORDER-RIGHT: rgb(0,0,0) 1px groove; BORDER-TOP: rgb(0,0,0) 1px groove; BORDER-LEFT: rgb(0,0,0) 1px groove; WIDTH: 80%; BORDER-BOTTOM: rgb(0,0,0) 1px groove; BACKGROUND-COLOR: #e7e3e7; TEXT-ALIGN: left; align: center
}
TABLE.table3 TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px
}
SELECT {
	FONT-SIZE: 9pt; WIDTH: 130px; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f1f1f1; BGCOLOR: #FFFFFF
}
INPUT {
	FONT-SIZE: 9pt
}
.INPUT_button40 {
	BORDER-RIGHT: #0065ce 1px ridge; PADDING-RIGHT: 1px; BORDER-TOP: #0065ce 1px ridge; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #0065ce 1px ridge; WIDTH: 40px; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #0065ce 1px ridge; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7ff
}
.INPUT_button {
	BORDER-RIGHT: #0065ce 1px ridge; PADDING-RIGHT: 1px; BORDER-TOP: #0065ce 1px ridge; PADDING-LEFT: 1px; FONT-SIZE: 9pt; PADDING-BOTTOM: 1px; BORDER-LEFT: #0065ce 1px ridge; CURSOR: hand; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #0065ce 1px ridge; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: #f7f7ff
}
.INPUT_text {
	BORDER-RIGHT: #336799 1px solid; BORDER-TOP: #336799 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #336799 1px solid; BORDER-BOTTOM: #336799 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f1f1f1
}
.INPUT_text40 {
	BORDER-RIGHT: #336799 1px solid; BORDER-TOP: #336799 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #336799 1px solid; WIDTH: 40px; BORDER-BOTTOM: #336799 1px solid; FONT-FAMILY: "宋体"; BACKGROUND-COLOR: #f1f1f1
}
H1 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H2 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H3 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H4 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H5 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H6 {
	FONT-FAMILY: 宋体, Book Antiqua, Times New Roman, Times
}
H1 {
	COLOR: rgb(204,153,0)
}
H2 {
	COLOR: rgb(51,102,51)
}
H3 {
	COLOR: rgb(102,0,51)
}
H4 {
	COLOR: rgb(51,102,51)
}
H5 {
	COLOR: rgb(102,0,51)
}
H6 {
	COLOR: rgb(51,102,51)
}